<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>UniPay - Landing Page</title>
  <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>

  <nav class="navbar">
    <div class="nav-right">
      <a href="{{ url_for('login') }}">Login</a>
      <a href="{{ url_for('signup') }}">Signup</a>

    </div>
  </nav>

  <div class="main-content">
    <h1>UniPay</h1>
    <p>Your one-stop solution for simple, secure, and smart payments. UniPay helps you manage transactions, earn rewards, and track expenses effortlessly.</p>
  </div>

</body>
</html>
